{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>A university with a network in the digital economy</h1>
    <h3>Our super cool campus</h3>
    <div class="spot">
    <img src="https://picsum.photos/300/200" alt="">
    <div class="content">
        <div class="title"> <strong>An outstanding building</strong> </div>
    <div><p>On five floors, Factory Görlitzer Park is the size of almost three American football fields. The whole building will blow your mind. Several architects and a great interior design team spent months building this unique place. We promise: You will love it!</p></div>
</div>
    </div>

    <div class="spot"><img src="https://picsum.photos/300/200" alt="">
        <div class="content"><div class="title"><strong>Borders only exist in your mind</strong></div><div><p>Imagine leaving the campus of your university and being right in the middle of the action, surrounded by successful startups. That’s what happens at CODE. Meet at the community kitchens and exchange ideas!</p></div>
        </div>
    </div>

    <div class="spot">
        <img src="https://picsum.photos/300/200" alt="">
        <div class="content"><div class="title"><strong>Café, ball pit or library?</strong></div><div><p>We cannot really explain it; you have to see it with your own eyes, because Factory is both a work space and a playground. Our students Sitan and Carolin get to decide every day where they’d like to work (apparently they’ve chosen the library here).</p></div>
        </div>
    </div>
    </div> <a href="/second-page">here</a>
    

{% endblock %}