<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 


<!DOCTYPE html>
<html>

 learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML 
<head>
	<title>CODE University</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/styles.css">

</head>
--> 
{% extends "base.html" %}

{% block content %}

<div class="campus">
    <div class="welcome">
    Welcome to CODE
    </div>
</div>

<div class="index-text">
<h1>Curiosity-Driven Education</h1>
<h3>At CODE you will experience a new way of learning. Our experiential learning approach enables you to acquire core competences that help you succeed in a dynamically changing world – even in fields that don’t yet exist.</h2>
    <p>At CODE, we know that entering a curiosity-driven learning environment can be quite a shift from what you’re used to. We have crafted the Orientation Semester to not only address that shift and transitional period but also to introduce you to the interdisciplinary study concept of CODE. <br>
        Our Orientation Semester will help you to study at CODE, by focusing on a combination of hard and soft skills, which we deem to be essential to study, in particular, to join a project group in a core semester — in any role. To accomplish this, various forms of guidance will be offered, including courses, personal and interpersonal workshops, and project check-ins.</p> <br>
        <a href="/community">To know more about our community.</a>
</div>
<a href="/community">To know more about our community.</a>
    {% endblock %}